/* .mainContent {
  height: 100vh;
} */
.flex {
  display: flex;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: small;
}

.calendarEvent {
  display: flex;
  height: 1rem;
  overflow: hidden;
  align-items: center;
}

.checkBoxes {
  margin-right: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.checkBoxLables {
  margin-right: 5px;
}

.checkBoxHolder {
  display: flex;
  justify-content: right;
}

.calendarHolder {
  flex-basis: 100%;
}

.fc-daygrid-day-number {
  color: #ffffff; /* Change this color to your desired color */
}

.fc-theme-standard .fc-scrollgrid td, 
.fc-theme-standard th {
  border-color: #ffffff
}

.fc-day-today {
  background-color: #003f5c !important;
}

.deleteButton {
  margin-left: auto;
  margin-right: 5px;
  background-color: #880000;
  border: solid #880000 1px;
  border-radius: 30%;
  height: 0.7rem;
  font-size: 0.7rem;
}

.menuPadding {
  margin-bottom: 10px;
}

/* Custom styles for IonAlert buttons */
.custom-alert .alert-button-group {
  display: flex;
  justify-content: space-between; /* Aligns the buttons to the edges */
}

.custom-alert .alert-button.role-cancel {
  margin-right: auto; /* Pushes the cancel button to the far left */
}


.fc-daygrid-day-number {
  font-size: 1rem;
}
.fc-daygrid-body {
  font-size: 1rem;
}

.phoneOnly {
  visibility: hidden;
}

.fc .fc-col-header-cell-cushion {
  font-size: 0.8rem;
}

.fc-day-sat,
.fc-day-sun {
    background-color: #0a002e;
}

@media only screen and (max-width: 900px) {
  .fc-daygrid-day-number {
    font-size: 0.45rem;
  }
    /* Target the FullCalendar cells */
  .fc-daygrid-day-frame { 
    font-size: 0.4rem;  /* Set the desired font size */
  }

  /* Make sure to target the specific elements within the toolbar */
  .fc-toolbar-title {
    font-size: 0.9rem !important;
  }
  
  .fc-toolbar button {
    font-size: 0.5rem !important;
    padding: 2px 7px !important; /* Adjust padding to shrink button size */
  }

  /* Ensure button icons are also resized */
  .fc-toolbar button .fc-icon {
    font-size: 0.5rem !important;
  }
  .calendarEvent {
    font-size: 0.4rem;
    color: #ffffff;
  }
  .deleteButton {
    visibility: hidden;
  }
  .phoneOnly {
    visibility: visible;
  }
}
